<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Koe - The Kafe </title>
    <meta name="title" content="Koe - The Kafe ">
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="../../public/edit.css">


</head>

<body style="overflow: auto;">



    <section class="section countdown[0] bg-black-10 text-center" aria-label="countdown[0]" id="workshop">
        <div class="container">

            <p class="section-subtitle label-2">WELCOME</p>

            <h2 class="headline-1 section-title">CountDown Section Details</h2>
            <div style="overflow-x: auto;">
                <table class="table table-striped table-bordered border-white"
                    style="color:antiquewhite; border: 10px; border-color: brown;">
                    <thead>
                        <tr>
                            <th scope="col">LABEL</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">TEXT BELOW TITLE</th>
                            <th scope="col">TIME</th>
                            <!-- <th scope="col">Delete Slider</th> -->
                            <!-- <th scope="col">Edit Countdown</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td>
                                    <%=countdown[0].label%>
                                </td>
                                <td>
                                    <%=countdown[0].title%>
                                </td>
                                <td>
                                    <%=countdown[0].text%>
                                </td>
                                
                                <td>
                                    <%=countdown[0].time%>
                                </td>
                                <!-- <td>
                                    <form method="post" action="/specialsection/countdown[0]._id?_method=DELETE">
                                        <button submit="none">
                                            Delete!
                                        </button>
                                    </form>
                                </td> -->
                                <!-- <td>
                                    <form method="get" action="/countdownsection/countdown[0]._id%>">
                                        <button>
                                            EDIT!
                                        </button>
                                    </form>
                                </td> -->
                            </tr>
                    
                    </tbody>
                </table>
            </div>


            <form id="addfield" class="addfield"  method="post" action="/admin/countdownsection/<%=countdown[0]._id%>?_method=PATCH">
                <label for="name" class="formlabel">Edit CountDownSection</label>
                <input type="text" id="name" name="label" placeholder="label" value ="<%=countdown[0].label%>" >
                <input type="text" name="title" placeholder="title" value ="<%=countdown[0].title %> " >
                <input type="text" name="text" placeholder="text below title"  value ="<%=countdown[0].text%>">
                <p style="margin-block-start: 1rem;margin-block-end: 1rem;color:hsl(38, 61%, 73%);">Enter the Date of the event</p>
                <input type="date" id="myFile" name="date" />
                <p style="margin-block-start: 1rem;margin-block-end: 1rem;color:hsl(38, 61%, 73%);">Enter the time of the event</p>
                <input type="time" name="time" required>
                <button type="submit" class="btn btn-primary">ADD!</button>
            </form>

        </div>
    </section>
</body>

</html>