<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="../../public/edit.css">
</head>

<body>
    <h1 class="headline-1 section-title" style="text-align: center;">Edit your Hero Section</h1>
    <div class= "old">
        <p>OLD Name</p><input type="text" name="label" value="<%= data[0].name %>">
        <p>OLD Review</p><input type="text" name="title" value="<%=data[0].review  %>">
        <h1><a href="<%=data[0].profilephoto%>" target="_blank" style="color: greenyellow;" >View image!</a></h1>
    </div>


    <br>
    <br>

    <form method="post" enctype="multipart/form-data" action="/admin/testimonialsection/edit/<%=data[0]._id%>/?_method=PATCH">
        <p>Edit Name</p><input type="text" name="name" value="<%=data[0].name %>">
        <p>Edit Review</p><input type="text" name="review" value="<%=data[0].review%>">
        <br>
        <br>
        <p>Upload New Image ? (click the checkbox to edit image)</p>
        <input type="checkbox" name="imagecheckbox" id="imagecheck">
        <div class="imageupload">
            <!-- <p>Edit Image(Click on choose file copy the location of folder where image is and select the image also)</p> -->
            <!-- <input type="text" id="name" name="profilephoto" placeholder="Copy the file path of chosen image"> -->
            <input type="file" id="myFile" name="myFile" />
        </div>
        <button class="btn">Make Changes</button>
    </form>

    <script>
        let imageDiv = document.querySelector(".imageupload");
        imageDiv.style.display = "none";
        let imagecheck = document.querySelector("#imagecheck");

        imagecheck.addEventListener("click", () => {
            if (imagecheck.checked) {
                imageDiv.style.display = "block";
            } else {
                imageDiv.style.display = "none";
            }
        })
    </script>
</body>

</html>